body{
    width: 100%;
    height: 100vh;
    background: #E0FFFF;
    font-family: raleway;
    justify-content: center;
    display: block;
    
}

drop{
    width: 100%;
    height: 50%;
    background: royalblue;
    position:  absolute;
    top: 0px;
    left: 0px; 
    z-index: -1;
    
    
}


header{
    position: absolute;
    top:25px;
    display: flex;
    justify-content: center;
}

footer{
    position: absolute;
    bottom: 10px;
    justify-content: center;
}
